[Unit]
Description=Run Backblaze backup monthly on 2nd day at 21:37
Requires=backblaze_backup.service

[Timer]
OnCalendar=*-*-02 21:37:00
RandomizedDelaySec=900
Persistent=true
Unit=backblaze_backup.service

[Install]
WantedBy=timers.target